<!--##################
    ##### HEADER  ####
    ##################-->

<header class="header">
    <div class="container">

        <h1 class="logo">
            ATTRACTI FV
        </h1>

        <div class="header__country">
            Switzerland
        </div>

        <div class="header__products">
            <div class="header__product-item">MANAGING SYSTEMS</div>
            <div class="header__product-item">AI</div>
            <div class="header__product-item">VR</div>
        </div>

        <div class="header__bottom-text">
            <div>Innovating &amp; Automating Processes</div>
            <div>Decision Based Strategy Games</div>
        </div>

    </div>
</header>