/* ########################
#### UNDER HEADER TEXT ####
######################## */

.bg-white {
    background: #fff;
}

.under-header-text {
    padding: 56px 0 0;
    width: 740px;
    margin: 0 auto;
    opacity: 0.5;
    padding-bottom: 40px;
}


/* ########################
#### PRODUCT CATEGORY  ####
######################## */

.product-category {
    color: #612090;
    background: white;
    text-align: center;
    padding: 255px 0;
    h2+p {
        color: #676767;
    }
}

.product-category--games {
    color: white;
    background: #1E0834;
    h2+p {
        color: white;
    }
}

.product-category__text-block {
    position: absolute;
    margin-top: -300px;
    z-index: 2;
}

.product-category__header {
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 15px;
    transition: all ease-in-out 0.2s;
}

.product-category__subheader {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 60px;
    transition: all ease-in-out 0.2s;
}

.product-wrapper {
    min-height: 834px;
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 824px;
    max-width: 1920px;
    margin: -255px auto;
    overflow: hidden;
    flex-direction: column;
    // transition: all 0.1s ease-in-out 0.3s;
}

.product {
    height: 425px;
    width: 980px;
    margin: 0 auto;
    // margin-bottom: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.2s;
    z-index: 1;
    >video {
        position: relative;
        // height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: black;
    }
}

.product--current {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    .product__text-block {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        >p {
            font-size: 50px;
            line-height: 65px;
            color: white;
        }
        >a {
            opacity: 1;
        }
    }
    .product-category__header,
    h2+p.product-category__subheader {
        color: white;
    }
    .product-category__text-block {
        top: 70px;
        z-index: 3;
        margin: 0;
    }
}

// @media (min-width: 1520px) {
//     .product--current {
//         .product-category__header,
//         h2+p.product-category__subheader {
//             color: white;
//         }
//     }
// }
.product__text-block {
    width: 642px;
    height: 227px;
    background: black;
    position: absolute;
    transition: all ease-in-out 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    >p,
    >h3,
    >a {
        color: white;
    }
    >h3 {
        font-size: 16px;
        line-height: 22px;
        padding: 55px 0 0;
        font-weight: 600;
    }
    >p {
        font-size: 32px;
        line-height: 40px;
        padding-top: 23px;
        transition: all ease-in-out 0.2s;
    }
    >a {
        width: 235px;
        height: 50px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background: #314CFF;
        font-size: 16px;
        line-height: 17px;
        margin-top: 30px;
        position: relative;
        opacity: 0;
        transition: all ease-in-out 0.2s;
    }
}


/* ########################
#### ANOTHER PRODUCTS  ####
######################## */

.another-products {
    background: -webkit-linear-gradient(left, #FFf 0, #fff 50%, #1E0834 50%, #1E0834 100%);
    background: linear-gradient(left, #FFf 0, #fff 50%, #1E0834 50%, #1E0834 100%);
    padding-bottom: 69px;
}

.another-products__hedaer-text {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    padding: 140px 0 90px;
}

.another-products__hedaer-text div:nth-of-type(2n) {
    color: white;
}

.another-products__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.another-products__item {
    width: 304px;
    height: 304px;
    box-sizing: border-box;
    border: 1px dotted #DBDBDB;
    background: white;
    padding: 83px 15px 30px;
    img {
        height: 47px;
        width: 47px;
        padding-bottom: 15px;
    }
    h3 {
        font-size: 24px;
        line-height: 34px;
        padding-bottom: 43px;
    }
    p {
        font-size: 16px;
        line-height: 18px;
    }
}

.another-products__joutnal-link {
    width: 260px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #612090;
    color: white;
    margin: 77px 0 0;
    position: relative;
}


/* ########################
####  TOUR             ####
######################## */

.tour {
    padding: 95px 0 0;
}

.tour__block {
    text-align: center;
    >h3 {
        font-size: 32px;
        line-height: 40px;
        color: #612090;
        padding: 70px 0 15px;
    }
    >p {
        font-size: 20px;
        line-height: 32px;
        padding-bottom: 55px;
    }
}

.tour__map {
    width: 100%;
    height: 443px;
    background: url('../img/map.png');
    background-size: cover;
    position: relative;
}

.tour__map-point {
    height: 10px;
    width: 10px;
    background: #612090;
    position: absolute;
    border-radius: 50%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.tour__map-point[data-point='1'] {
    top: 10%;
    left: 10%;
}

.tour__map-point[data-point='2'] {
    top: 20%;
    left: 20%;
}

.tour__map-point[data-point='3'] {
    top: 22%;
    left: 50%;
}

.tour__map-point[data-point='4'] {
    top: 40%;
    left: 60%;
}

.tour__map-point[data-point='5'] {
    top: 50%;
    left: 50%;
}

.tour__map-point[data-point='6'] {
    top: 60%;
    left: 55%;
}

.tour__map-point:hover {
    text-indent: 17px;
    overflow: visible;
    line-height: 10px;
}

.tour__meetings-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}

.tour__meet-block {
    width: 244px;
    position: relative;
}

.tour__video-block {
    height: 414px;
    position: relative;
}

.tour__meet-block p {
    position: absolute;
    color: white;
    left: 27px;
    font-size: 14px;
    line-height: 18px;
    right: 27px;
    opacity: 1;
    -webkit-transition: all 1s ease-in 0.4s;
    transition: all 1s ease-in 0.4s;
    padding-bottom: 55px;
    text-align: left;
    bottom: 0;
}

.tour__meet-block:last-of-type {
    width: 245px;
}

.tour__meet-block video {
    height: 100%;
    width: 100%;
    background: black;
}

.tour__video-layout {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 1;
    // top: 0;
    background: #612090;
    -webkit-transition: all 1s ease-in 0.4s;
    transition: all 1s ease-in 0.4s;
}

.tour__meet-block--current {
    .tour__video-layout {
        opacity: 0;
        // top: -100%;
    }
    p {
        opacity: 1;
    }
}

.tour__video-header {
    text-align: left;
    padding: 0 0 20px 20px;
}

.tour__city {
    font-size: 32px;
    padding-bottom: 15px;
}

.tour__meet-date {
    font-size: 16px;
    line-height: 18px;
    color: #8E8E8E;
}


/* ########################
####   FOLLOW US       ####
######################## */

.follow-us {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 89px;
    width: 113px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 17px;
    color: #612090;
    padding: 80px 0 100px;
}

.follow-us__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.follow-us__link {
    width: 37px;
    height: 37px;
    display: inline-flex;
    img {
        height: 100%;
    }
}